.prototype_8 {
  display: flex;
  margin: auto;
}

.frame {
  position: relative;
  width: 80vw;
  height: 100vh;
  margin: auto;
  background: rgb(187, 187, 187);
  overflow: hidden;
}

.hat {
  position: absolute;
  top: -50%;
  left: 5%;
  width: 90%;
}

.eyeBrows {
  position: absolute;
  top: 8%;
  left: 12%;
  width: 75%;
}

.eyes {
  position: absolute;
  top: 24%;
  left: 7.5%;
  width: 85%;
}

.nose {
  position: absolute;
  top: 40%;
  left: 25%;
  width: 50%;
}

.mouth {
  position: absolute;
  bottom: 12%;
  left: 27%;
  width: 46%;
}

.itemRight {
  position: absolute;
  bottom: 0%;
  width: 90%;
  right: -60%;
}

.itemLeft {
  position: absolute;
  bottom: 0%;
  width: 90%;
  left: -65%;
}

.circle {
  position: absolute;
  // border-radius: 50%;
  background-size: cover;

  &.ch1 {
    background-image: image-url("ch1.svg");
  }

  &.ch2 {
    background-image: image-url("ch2.svg");
  }

  &.ch3 {
    background-image: image-url("ch3.svg");
  }

  &.ch4 {
    background-image: image-url("ch4.svg");
  }

  &.ch5 {
    background-image: image-url("ch5.svg");
  }

  &.ch6 {
    background-image: image-url("ch6.svg");
  }

  &.ch7 {
    background-image: image-url("ch7.svg");
  }

  &.ch8 {
    background-image: image-url("ch8.svg");
  }

  &.ch9 {
    background-image: image-url("ch9.svg");
  }

  &.ch10 {
    background-image: image-url("ch10.svg");
  }

  &.ch11 {
    background-image: image-url("ch11.svg");
  }

  &.ch12 {
    background-image: image-url("ch12.svg");
  }

  &.ch13 {
    background-image: image-url("ch13.svg");
  }

  &.ch14 {
    background-image: image-url("ch14.svg");
  }

  &.ch15 {
    background-image: image-url("ch15.svg");
  }

  &.ch16 {
    background-image: image-url("ch16.svg");
  }

  &.ch17 {
    background-image: image-url("ch17.svg");
  }

  &.ch18 {
    background-image: image-url("ch18.svg");
  }

  &.ch19 {
    background-image: image-url("ch19.svg");
  }

  &.ch20 {
    background-image: image-url("ch20.svg");
  }

  &.ch21 {
    background-image: image-url("ch21.svg");
  }

  &.ch22 {
    background-image: image-url("ch22.svg");
  }

  &.ch23 {
    background-image: image-url("ch23.svg");
  }

  &.ch24 {
    background-image: image-url("ch24.svg");
  }

  &.ch25 {
    background-image: image-url("ch25.svg");
  }

  &.ch26 {
    background-image: image-url("ch26.svg");
  }

  &.ch27 {
    background-image: image-url("ch27.svg");
  }

  &.ch28 {
    background-image: image-url("ch28.svg");
  }

  &.ch29 {
    background-image: image-url("ch29.svg");
  }

  &.ch30 {
    background-image: image-url("ch30.svg");
  }

  &.ch31 {
    background-image: image-url("ch31.svg");
  }

  &.ch32 {
    background-image: image-url("ch32.svg");
  }

  &.ch33 {
    background-image: image-url("ch33.svg");
  }

  &.ch34 {
    background-image: image-url("ch34.svg");
  }

  &.ch35 {
    background-image: image-url("ch35.svg");
  }

  &.ch36 {
    background-image: image-url("ch36.svg");
  }

  &.ch37 {
    background-image: image-url("ch36.svg");
  }

  &.ch38 {
    background-image: image-url("ch36.svg");
  }

  &.ch39 {
    background-image: image-url("ch36.svg");
  }

  &.ch40 {
    background-image: image-url("ch36.svg");
  }
}
